.page-wrapper {
  flex: 1;
  border: 3px solid black;
  box-shadow: 4px 4px 0 var(--black);
  height: 100% !important;
  min-width: 100% !important;
}

.control-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.control-container button:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.prev {
  border-left: 3px solid black;
}

.next {
  border-right: 3px solid black;
}

.control-container button {
  padding: .6rem 2rem;
  border: 3px solid black;
  box-shadow: 4px 4px 0 var(--black);
}

::highlight(search-results) {
  background-color: rgba(115, 87, 81, 0.25);
}
